<!DOCTYPE html>

{% load static %}

<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="nav-link active" style="color: aliceblue;" href="{% url 'recipes-home' %}">Рецепты</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" style="color: aliceblue;" href="{% url 'recipes-create' %}">Добавить рецепт</a>
              </li>
                <a href="{% url 'dashboard' %}" class="nav-link active" style="color: aliceblue;">Мой профиль</a>
                <a  class="nav-link active" style="color: aliceblue;" href="{% url 'logout' %}">Выйти</a>
              {% else %}
              <a class="nav-link active" style="color: aliceblue;" href="{% url 'login' %}">Войти</a>
              <a class="nav-link active" style="color: aliceblue;" href="{% url 'register' %}">Создать аккаунт</a>
              {% endif %}
        </ul>
      </div>
    </div>
  </nav>






  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
          <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
